body {
    margin: 0;
    font-family: Poppins, Arial, sans-serif;
    background-color: #141414;
    color: #e0e0e0;
}

h1{
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
}

.sidebar {
    width: 200px;
    background-color: #22404a;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

a.nav-button {
    background-color: #a3d977;
    color: #1b1b1b;
    padding: 0.75rem;
    margin: 0.25rem 0;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

a.nav-button:hover {
    background-color: #90c766;
    transform: scale(1.05);
}

a.nav-button.active {
    background-color: #5cbe11;
    transform: scale(1.07);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.content {
    margin-left: 220px;
    padding: 2rem;
    background-color: #1e1e1e;
    min-height: 100vh;
    overflow-y: auto; 
}

h1, h2 {
    color: #f0f0f0;
    margin-bottom: 1rem;
}

.section {
    background-color: #2a2a2a;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-bottom: 1px solid #a3d977;
}

p, li {
    line-height: 1.6;
}

ul {
    margin-left: 1.5rem;
}

pre {
    background-color: #121212;
    color: #cddbf9;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    font-family: monospace;
    font-size: 0.95rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}
/* This is my most favourite thing i learned while doing this assignment. i learned to create a watermark without having to add a div in all the files:  */
body::after {    
    content: "Created by Harshit Karna";
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #a3d977;
    opacity: 0.3;
    font-size: 0.8rem;
    font-family: Poppins, Arial, sans-serif;
    pointer-events: none;
    z-index: 9999;
}
